In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-05-07 19:34:46,-46.1927,168.8643,57.47,98,100,3.29
1,1,Punta Arenas,CL,2022-05-07 19:34:46,-53.1500,-70.9167,51.12,66,51,24.09
2,2,Saldanha,ZA,2022-05-07 19:34:47,-33.0117,17.9442,53.65,70,0,20.96
3,3,Ushuaia,AR,2022-05-07 19:34:47,-54.8000,-68.3000,53.26,47,20,24.16
4,4,Port Alfred,ZA,2022-05-07 19:34:48,-33.5906,26.8910,64.18,80,100,3.00

In [3]:
# Check types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [6]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the city_data_df
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                         (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Hilo,US,2022-05-07 19:33:35,19.7297,-155.0900,88.29,81,20,3.00
11,11,Esna,EG,2022-05-07 19:34:50,25.2934,32.5540,82.42,10,7,9.62
13,13,Arraial Do Cabo,BR,2022-05-07 19:34:51,-22.9661,-42.0278,75.16,78,40,9.22
14,14,Butaritari,KI,2022-05-07 19:34:52,3.0707,172.7902,81.50,79,100,15.73
15,15,Minab,IR,2022-05-07 19:34:52,27.1467,57.0801,80.92,61,0,0.00

In [12]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head()

C:\Users\SBruc\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               City Country  Max Temp      Lat       Lng Hotel Name
6              Hilo      US     88.29  19.7297 -155.0900
11             Esna      EG     82.42  25.2934   32.5540
13  Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
14       Butaritari      KI     81.50   3.0707  172.7902
15            Minab      IR     80.92  27.1467   57.0801

In [14]:
# Set parameters to search for a hotel.
params = {
    "key": g_key,
    "type": "lodging",
    "radius": 5000}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    # Grab the first hotel from the results and store the name.    
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

C:\Users\SBruc\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Esna,EG,82.42,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
13,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
14,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
15,Minab,IR,80.92,27.1467,57.0801,Bam campground
16,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Padang,ID,77.40,-0.9492,100.3543,Mercure Padang
51,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
55,Yenagoa,NG,78.35,4.9247,6.2642,Aridolf Resort Wellness and Spa
56,Atuona,PF,78.40,-9.8000,-139.0333,Villa Enata

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Heatmap of temperature for vacation spots.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Add the maker layer
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))